

@if(Context.User.Identity.Name != null)
{
	
}
else
{
	<ul class="nav navbar-nav navbar-right">
		<li><a class="nav-link text-dark" asp-controller="Account" asp-action="Registration">Redg.</a></li>
			<li><a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login.</a></li>
	</ul>
}
