@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi there</h1>

    <h3>Please Sigin/Login before proceed to Book Tickets</h3>
    
    
</div>
